@use '../abstracts/variables';
@use '../layout/sidebar';

.div__page-content {
    width: 85%;
    left: 15%;
    display: inline-block;
    position: absolute;

    .div__calendar {
        
        ul {
            display: grid;
    
        }
    }
}


